/* General Styles */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light and Dark Mode */
body.light-mode {
    background-color: #DEF2F1;
    color: #333;
}

body.dark-mode {
    background-color: #1e1e2f;
    color: #000;
}

.container {
    display: flex;
    height: 100dvh;
    width: 100%;
}

/* Sidebar Styles */
.sidebar {
    height: 100vh;
    background-color: #3AAFA9;
    width: 100px;
    transition: width 0.3s ease;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    border-right: 1px solid grey;
}

.sidebar.expanded {
    width: 350px;
}

/* Sidebar Header */
.sidebar-header {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-header img {
    width: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.sidebar-header h1 {
    font-size: 16px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar.expanded .sidebar-header h1 {
    opacity: 1;
}

/* Toggle Sidebar Button */
.toggle-sidebar-btn {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    height: 20px;
}

/* Menu Styling */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    justify-content: flex-start;
}

.allBuses {
    width: 100%;
}

.menu-item:hover {
    background-color: #c9c9c9;
}

.menu-item .icon {
    font-size: 18px;
    width: 30px;
    text-align: center;
}

.menu-item .label {
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    flex-grow: 1;
}

.sidebar.expanded .menu-item .label {
    opacity: 1;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    width: 100%;
}

.active {
    background-color: #c9c9c9;
}

/* Submenu Styling */
.submenu {
    display: none;
    padding-left: 20px;
    background: #3AAFA9;
}

.submenu .menu-item {
    padding: 10px 20px;
}

.submenu .menu-item:hover {
    background: white;
}

/* Expanded Submenu */
.submenu.active {
    display: block;
}

.submenu-toggle-icon {
    transition: transform 0.3s ease;
}

.submenu.active+.submenu-toggle-icon {
    transform: rotate(180deg);
}

/* Hide submenu labels when sidebar is collapsed */
.sidebar:not(.expanded) .submenu {
    display: none !important;
}

/* Display submenu icons when sidebar is collapsed */
.submenu .menu-item .icon {
    display: inline-block;
}

.submenu .menu-item .label {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar.expanded .submenu .menu-item .label {
    opacity: 1;
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px;
    /* Width of scrollbar */
}

::-webkit-scrollbar-track {
    background: #3AAFA9;
    /* Background color of track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3AAFA9;
    /* Scrollbar color */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3AAFA9;
    /* Darker color when hovered */
}

.icon,
.content .icon {
    position: relative;
    font-size: 18px;
    color: #feffff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 100dvh;
    overflow-y: auto;
    transition: padding-left 0.3s ease;
    width: 95%;
    background-color: #3aafa9;
}

.main {
    height: auto;
    width: 100%;
    display: flex;
    background-color: #3AAFA9;
}

.Mains {
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #2b7a78;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 5px 10px 10px rgba(57, 57, 57, 0.684);
}

.allBookings {
    height: 100%;
    width: 99%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 0 10px 10px;
    border-radius: 15px;
}

.allBookingsHeading {
    height: 40px;
    width: 100%;
    background-color: #DEF2F1;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    align-items: center;
    padding: 0 10px;
    gap: 5px;
}

.bookingHeadings {
    cursor: default;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.booking {
    height: 50px;
    width: 100%;
    background-color: #DEF2F1;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    align-items: center;
    padding: 0 10px;
    gap: 5px;
}

.bookingData {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.allBookingsData {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.downloadButtons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.downloadButton {
    height: 40px;
    width: 40px;
    background-color: #2b7a78;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}

.downloadButton:hover {
    background-color: #1f6b61;
}

.downloadModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.modalContent {
    position: fixed;
    top: 30%;
    left: 40%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modalButton {
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    border-radius: 20px;
    background: #4caf50;
    color: white;
}

.modalButton:hover {
    background: #45a049;
}

/* Styles for the action dropdown */
.action-menu {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 10;
}

.action-menu button {
    display: block;
    width: 100%;
    border: none;
    background: none;
    padding: 5px;
    cursor: pointer;
}

.action-menu button:hover {
    background: #f0f0f0;
}

/* Editable row styles */
.editable {
    background: #f9f9f9;
}

.editable input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
}


@media screen and (max-width: 900px) {
    .main {
        flex-direction: column;
    }

    .container {
        margin-left: 0;
    }

    .allBookingsHeading {
        height: 50px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .allBookingsHeading {
        height: 60px;
    }

    .bookingHeadings,
    .allBookingsData {
        font-size: 0.65rem;
        font-weight: 600;
    }
}