/* General Styles */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light and Dark Mode */
body.light-mode {
    background-color: #DEF2F1;
    color: #333;
}

body.dark-mode {
    background-color: #1e1e2f;
    color: #000;
}

.container {
    display: flex;
    height: 100dvh;
    width: 100%;
}

/* Sidebar Styles */
.sidebar {
    height: 100vh;
    background-color: #3AAFA9;
    width: 100px;
    transition: width 0.3s ease;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    border-right: 1px solid grey;
}

.sidebar.expanded {
    width: 350px;
}

/* Sidebar Header */
.sidebar-header {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-header img {
    width: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.sidebar-header h1 {
    font-size: 16px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar.expanded .sidebar-header h1 {
    opacity: 1;
}

/* Toggle Sidebar Button */
.toggle-sidebar-btn {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    height: 20px;
}

/* Menu Styling */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    justify-content: flex-start;
}

.allBuses {
    width: 100%;
}

.menu-item:hover {
    background-color: #c9c9c9;
}

.menu-item .icon {
    font-size: 18px;
    width: 30px;
    text-align: center;
}

.menu-item .label {
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    flex-grow: 1;
}

.sidebar.expanded .menu-item .label {
    opacity: 1;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    width: 100%;
}

.active {
    background-color: #c9c9c9;
}

/* Submenu Styling */
.submenu {
    display: none;
    padding-left: 20px;
    background: #3AAFA9;
}

.submenu .menu-item {
    padding: 10px 20px;
}

.submenu .menu-item:hover {
    background: white;
}

/* Expanded Submenu */
.submenu.active {
    display: block;
}

.submenu-toggle-icon {
    transition: transform 0.3s ease;
}

.submenu.active+.submenu-toggle-icon {
    transform: rotate(180deg);
}

/* Hide submenu labels when sidebar is collapsed */
.sidebar:not(.expanded) .submenu {
    display: none !important;
}

/* Display submenu icons when sidebar is collapsed */
.submenu .menu-item .icon {
    display: inline-block;
}

.submenu .menu-item .label {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar.expanded .submenu .menu-item .label {
    opacity: 1;
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px;
    /* Width of scrollbar */
}

::-webkit-scrollbar-track {
    background: #3AAFA9;
    /* Background color of track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3AAFA9;
    /* Scrollbar color */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3AAFA9;
    /* Darker color when hovered */
}

.icon,
.content .icon {
    position: relative;
    font-size: 18px;
    color: #feffff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: auto;
    overflow-y: auto;
    transition: padding-left 0.3s ease;
    width: 95%;
    background-color: #3aafa9;
    padding: 3rem;
}

.map-container {
    height: calc(100vh - 80px);
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 80px;
    border: 2px solid black;
    z-index: 0;
}